.additional-catalog {
  background-color: @color-main-background;

  @media (min-width: @desktop-width) {
    width: 60%;
  }
}

.additional-catalog__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: @upper-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @color-headind;
}
