.additional-card {
  padding: 13px 0 15px 0;
}

.additional-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-card-title;
}

.additional-card__description {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 14px;
  line-height: 14px;
}

.additional-card__description-term,
.additional-card__description-meaning {
  display: inline-block;
}

.additional-card__button {
  padding: 10px 10px;
  font-size: 16px;
  line-height: 20px;
}
