.bonus {
  background-color: @color-main-background;

  @media (min-width: @desktop-width) {
    width: 40%;
    padding-top: 150px;
  }
}

.bonus__wrapper {
  margin: auto;
  width: 280px;
  height: 290px;
  background: url("../img/catalog-img/green-2-background.png") no-repeat center,
    url("../img/catalog-img/cat-2-background.png") no-repeat center;
  padding-top: 187px;
  background-color: @color-button;

  @media (min-width: @tablet-width) {
    width: 707px;
    height: 200px;
    background: url("../img/catalog-img/green-2-background-tablet.png") no-repeat center,
      url("../img/catalog-img/cat-2-background-tablet.png") no-repeat center;
    padding-top: 71px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    background: url("../img/catalog-img/green-2-background-desktop.png") no-repeat center,
      url("../img/catalog-img/cat-2-background-desktop.png") no-repeat center;
    padding-top: 184px;
  }
}

.bonus__description {
  margin: 0 auto;
  max-width: 230px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @color-main-background;
}
