.bonus {
  background-color: @color-main-background;

  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.bonus__wrapper {
  background: url("../img/catalog-img/green-2-background.png") no-repeat center,
    url("../img/catalog-img/cat-2-background.png") no-repeat center;
  padding-top: 187px;
  background-color: @color-button;
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    background: url("../img/catalog-img/green-2-background-tablet.png") no-repeat center,
      url("../img/catalog-img/cat-2-background-tablet.png") no-repeat center;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    background: url("../img/catalog-img/green-2-background-desktop.png") no-repeat center,
      url("../img/catalog-img/cat-2-background-desktop.png") no-repeat center;
    padding-bottom: 86px;
  }
}

.bonus__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @color-main-background;
}
