.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: @upper-font;
  text-transform: uppercase;
}

.button--main-color {
  background-color: @color-button;
  color: @color-main-background;
}

.button--second-color {
  background-color: @color-background;
  color: @color-main-text;
}
