.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 22px;
  padding: 19px 20px 25px 20px;
  min-width: 320px;
  border-bottom: 1px solid @color-border-4;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0 36px 39px 36px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
    padding: 0 36px 40px 41px;
    row-gap: 33px;
  }

  &--show-more {
    display: block;
    padding-top: 25px;

    @media (min-width: @tablet-width) {
      padding-top: 52px;
      border: 2px solid @color-background;
    }

    @media (min-width: @desktop-width) {
      padding: 51px 37px 41px 37px;
      border: 2px solid @color-background;
    }
  }
}

.card__link-picture {
  align-self: flex-end;
  justify-self: center;

  &--small {
    width: 68px;
    height: 86px;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  &--big {
    width: 84px;
    height: 101px;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    min-height: 156px;

    &--small {
      width: 163px;
      height: 174px;
      margin-top: -45px;
      margin-bottom: 0;
    }

    &--big {
      width: 168px;
      height: 200px;
      margin-top: -73px;
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--small {
      margin-top: -52px;
      width: 162px;
      height: 172px;
    }

    &--big {
      width: 172px;
      height: 196px;
      margin-top: -80px;
    }
  }
}

.card__link-picture-icon {
  width: 100%;
  height: auto;
}


.card__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 14px;
    padding-right: 50px;
    padding-left: 50px;
    min-height: 48px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 13px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--show-more {
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 18px;
    }
  }

  &--color-1 {
    color: @color-card-title;
  }

  &--color-2 {
    color: @color-text-cooperation;
  }
}

.card__link-title {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }
}

.card__link-plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
  }
}

.card__link-plus-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/catalog-img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
}

.card__link-plus:hover .card__link-plus-icon {
  opacity: 0.6;
}

.card__link-plus:active .card__link-plus-icon {
  opacity: 0.3;
}

.card__link-plus:focus .card__link-plus-icon {
  outline: none;
  opacity: 0.3;
}

.card__description {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}

.card__description-term,
.card__description-meaning {
  display: inline-block;
}

.card__description-term {
  text-align: left;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.card__description-meaning {
  text-align: right;
  margin: 0;
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.card__description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    min-height: 32px;
    border-bottom: 1px solid @color-border;
  }
}

.card__button-wrapper {
  grid-column: 1/3;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
  }
}

.card__button {
  padding: 10px 10px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.card__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    line-height: 1.1;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 87px;
    padding-left: 0;
    padding-right: 0;
  }
}
