.card {
  padding: 11px 0 14px 0;
}

.card__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  &--color-1 {
    color: @color-card-title;
  }

  &--color-2 {
    color: @color-text-cooperation;
  }
}

.card__description {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.card__description-term,
.card__description-meaning {
  display: inline-block;
}

.card__button {
  padding: 10px 10px;
  font-size: 16px;
  line-height: 20px;
}

.card__text {
  margin: 0;
  margin-bottom: 21px;
}
