.cards-list {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 39px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, auto));
    row-gap: 141px;
    column-gap: 60px;
    padding: 0 30px;
    margin-bottom: 18px;
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 245px));
    row-gap: 144px;
    column-gap: 80px;
    margin: 0 auto;
    padding: 0 110px;
    padding-bottom: 75px;
    max-width: @desktop-width;
  }
}

.cards-list__item {
  @media (min-width: @tablet-width) {
    min-height: 430px;
  }
}

.cards-list__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    background-color: @color-background;
  }
}
