.catalog {
  padding-top: 27px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 49px;
  font-family: @upper-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-headind;

  &::before {
    .pseudo ();
    height: 1px;
    width: 100%;
    bottom: -49px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: @color-line;
  }
}

.catalog__title-wrapper {
  position: relative;
}
