.catalog {
  background-color: @color-main-background;
}

.catalog__title {
  margin: 0;
  margin-bottom: 49px;
  font-family: @upper-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-headind;
}
