.contacts {
  background-color: @color-background;
}

.contacts__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__logo-text {
  display: block;
  text-align: center;
}

.contacts__list {
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: block;
  text-align: center;
}
