.cooperation {
  padding-top: 26px;

  &--color {
    background-color: @color-background;
  }

  @media (min-width: @tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.cooperation__wrapper {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.cooperation__wrapper-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0 40px 56px 40px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    padding: 56px 80px;
    width: 565px;
    min-height: 198px;
    top: 98px;
    left: 110px;
    background-color: @color-main-background;
  }
}

.cooperation__text {
  margin: 0;
  padding-right: 10px;
  min-width: 139px;
  font-family: @upper-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-cooperation;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.cooperation__contacts {
  margin: 0;
  min-width: 139px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.4;
    text-align: right;
  }
}

.cooperation__contacts-1,
.cooperation__contacts-2 {
  margin: 0;
}

.cooperation__contacts-2 {
  @media (min-width: @tablet-width) {
    padding-top: 10px;
  }
}

.cooperation__map {
  display: block;
  border: none;
  margin: auto;

  @media (min-width: @tablet-width) {
    max-height: 400px;
  }
}
