.cooperation {
  padding-top: 26px;

  &--color {
    background-color: @color-background;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.cooperation__wrapper {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.cooperation__wrapper-2 {
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    position: absolute;
    padding: 56px 80px;
    min-width: 565px;
    min-height: 198px;
    top: 95px;
    left: 110px;
    background-color: @color-main-background;
    border: 1px solid @color-main-text;
  }
}

.cooperation__text {
  margin: 0;
  min-width: 139px;
  font-family: @upper-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-cooperation;
}

.cooperation__contacts {
  margin: 0;
  min-width: 139px;
  line-height: 20px;
}

.cooperation__map {
  display: block;
  margin: 0 auto;
  max-width: @desktop-width;
}
