.cooperation {
  padding-top: 26px;

  &--color {
    background-color: @color-background;
  }
}

.cooperation__wrapper {
  padding: 0 20px 26px 20px;
}

.cooperation__text {
  margin: 0;
  font-family: @upper-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-cooperation;
}

.cooperation__contacts {
  margin: 0;
  line-height: 20px;
}
