.description {
  padding: 0 20px 49px 20px;
}

.description__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-headind;
}

.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.description__item {
  margin-left: 80px;
}

.description__item:not(:last-child) {
  margin-bottom: 20px;
}
