.example {
  background-color: @color-grey;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 101px;
    background-color: @color-main-background;
    border-top: 1px solid @color-line;
    background-image: linear-gradient(transparent 57%, @color-grey 57%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(transparent 23%, @color-background 23%);
    padding-bottom: 0;
    border-top: none;
  }
}

.example__all-container {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__all-wrapper {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    padding-top: 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-headind;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  min-height: 108px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    min-height: 72px;
    margin-bottom: 54px;
    padding-right: 10px;

    @media (min-width: @desktop-width) {
      max-width: 436px;
      margin-bottom: 69px;
      padding-right: 0;
    }
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  min-height: 70px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    gap: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.example__item {
  margin-bottom: 20px;
  min-width: 124px;

  @media (min-width: @desktop-width) {
    min-width: auto;
  }
}

.example__number {
  padding: 14px 10px 14px 10px;
  min-width: 124px;
  min-height: 56px;
  font-family: @upper-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: @color-headind;
  border: 1px solid @color-border;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 1.2;
    padding: 15px 10px 20px 10px;
  }
}

.example__text {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 65%;
  min-height: 24px;
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 1;
    background-color: @color-main-background;
    width: 85%;

    &--short {
      width: 70%;
    }

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @color-background;
  }
}

.example__cost {
  display: block;
  margin-bottom: 20px;
  font-family: @upper-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @color-headind;

  @media (min-width: @tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    margin-bottom: 0;
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    // flex-wrap: wrap;
    width: 326px;
  }
}

.example__cost-text {
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    text-align: left;
    padding-left: 0;

    &--margin {
      margin-right: 63px;
    }
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 326px;
  }
}

.example__image-wrapper {
  position: relative;

  @media (min-width: @desktop-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    margin-left: 90px;
  }
}

.example__image-wrapper-2 {
  display: flex;
}

.example__image--before {
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__image--after {
  margin-left: -140px;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    margin-left: -280px;
    width: 560px;
    height: 512px;
  }
}

.example__image-wrapper-before {
  margin-left: auto;
}

.example__image-wrapper-after {
  margin-right: auto;
}

.example__image-wrapper-before,
.example__image-wrapper-after {
  width: 140px;
  height: 256px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.example__range-icon {
  display: block;
  margin: auto;
  color: @color-brown;
}

.example__range-line {
  position: absolute;
  width: 4px;
  height: 256px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: @color-brown;
  border-radius: 2px;

  @media (min-width: @tablet-width) {
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    height: 512px;
    bottom: auto;
  }
}

.example__range {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: @color-main-background;
  border: 2px solid @color-brown;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    top: 236px;
    bottom: auto;
  }

  &:hover {
    border-color: @color-button;
  }

  &:active {
    border-color: @color-button-dark;
  }
}

/* stylelint-disable */
// противоречие между stylelint и editorconfig документа в части пробелов до и после знака "+"

.example__range:hover .example__range-icon {
  color: @color-button;
}

.example__range:active .example__range-icon {
  color: @color-button-dark;
}

.example__range:hover+.example__range-line {
  background-color: @color-button;
}

.example__range:active+.example__range-line {
  background-color: @color-button-dark;
}

/* stylelint-enable */
