
.example {
  background-color: @color-background;
  padding: 25px 20px 40px 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-headind;
}

.example__description {
margin: 0;
margin-bottom: 20px;
}
