.form {
  font-family: @upper-font;
}

.form__fildset {
  margin-bottom: 34px;
}

.form__legend {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 26px;
  color: @color-headind;
}

.form__label,
.form__control::placeholder,
.form__textarea::placeholder {
  font-family: @upper-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-main-text;
}

.form__button {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 10px;
  border: none;
}

.form__note {
  display: block;
  font-family: @main-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
