.header {
  min-height: 65px;
  border-bottom: 1px solid @color-line;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    width: 174px;
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 220px;
    padding-top: 53px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  min-height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    min-width: 174px;
    min-height: 52px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 220px;
  }
}

.header__logo-icon {
  display: block;
  margin-right: 57px;
  width: 34px;
  height: 38px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-right: 10px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__logo-icon:hover,
.header__logo-text:hover {
  opacity: 0.8;
}

.header__logo-icon:active,
.header__logo-text:active {
  opacity: 0.6;
}
