.list-social {
  margin: 0;
  padding: 20px 74px;
  list-style-type: none;
}

.list-social__item:not(:last-child) {
  margin-right: 27px;
}

.list-social__link {
  display: block;
  padding: 10px;
  border: 1px solid @color-headind;
  width: 24px;
}
