.list-social {
  margin: 0;
  padding: 19px 15px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 19px 65px 19px 83px;
  }
}

.list-social__item:not(:last-child) {
  margin-right: 25px;
}

.list-social__link {
  display: block;
  min-width: 28px;
  min-height: 22px;
  padding: 0;
  width: 24px;
}

.list-social__link:hover .list-social__link-icon {
  color: @color-button;
}

.list-social__link:focus {
  outline: none;
}

.list-social__link:focus .list-social__link-icon {
  outline: none;
  color: @color-button;
}

.list-social__link:active .list-social__link-icon {
  color: fade(@color-button, 30%);
}

.list-social__link-icon {
  display: block;
  padding: 0;
  color: @color-brown;
  margin: auto;
}

.list-social__link-icon-you,
.list-social__link-icon-you-tel {
  margin-top: 3px;
}
