.offer {
  font-family: @upper-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-main-background;

  @media (min-width: @tablet-width) {
    color: @color-headind;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .offer::before {
    .pseudo ();
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba(@color-button, 0.85), rgba(@color-button, 0.85)),
      url("../img/index-img/cat-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }
}

.offer__wrapper {
  position: relative;
  padding-top: 27px;
  background-image: linear-gradient(@color-button 303px, transparent 303px);
  z-index: -2;

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.offer__wrapper::before {
  .pseudo ();
  background-image: url("../img/index-img/index-can-background.png");
  width: 280px;
  height: 270px;
  left: 0;
  right: 0;
  margin: auto;
  top: 167px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/index-img/index-can-tablet.png");
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-img/index-can-desktop.png");
    width: 552px;
    height: 499px;
    top: 100px;
  }
}

@media (max-width: @tablet-width) {
  .offer__wrapper::after {
    .pseudo ();
    width: 320px;
    height: 302px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(rgba(@color-button, 0.85), rgba(@color-button, 0.85)),
      url("../img/index-img/cat-background.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.offer__title {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 320px;
  font-family: @upper-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-main-background;

  @media (min-width: @tablet-width) {
    color: @color-headind;
    max-width: 414px;
    margin: 62px 207px 41px 87px;
  }
}

.offer__text {
  margin: 0 auto;
  margin-bottom: 302px;
  max-width: 198px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: @color-headind;
    max-width: 414px;
    margin: 41px 207px 49px 87px;
  }
}

.offer__button {
  line-height: 18px;
  padding: 7px 44px;

  @media (min-width: @tablet-width) {
    min-width: 244px;
    margin-bottom: 526px;
    margin-left: 91px;
  }
}
