.programs {
  padding: 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__item {
  padding: 30px 33px 22px 20px;
  background-color: @color-background;
}

.programs__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  font-family: @upper-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @color-headind;
}

.programs__description {
  margin: 0;
  margin-bottom: 42px;
}

.programs__link {
  font-family: @upper-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-headind;
}
