// Цвета

@color-main-background:  #FFFFFF; // белый
@color-background:#F2F2F2; // светло-серый
@color-button: #68B738; // зеленый
@color-headind: #000000; // черный
@color-main-text: #444444; // темно-серый, основной текст на главной странице
@color-text-cooperation: #111111; // почти черный, текст в блоке с контактами для дилеров
@color-card-title: #222222; // заголовки в карточках товаров

// Шрифты

@main-font: "Arial", sans-serif;
@upper-font: "Oswald", "Arial", sans-serif;
